



/***********************
 * New styles CSS by Will
 ***********************/

.map-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 500px;
    background: black;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);
    height: 400px;
}

.gmap-background {
    position: absolute;
    background-image: url("../images/map.png");
    height: 100%;
    width: 100%;
    padding: 0px;
    margin:0px;
}


.header-container {
    position: relative;
    background;
    min-width: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
}

.timer-display {
    font-size: 28px;

}

.seconds-display {
    font-size: 10px;
}


.btn-big {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 30%;
        border: rgb(232,142,94) solid 2px;
    background: rgba(223,210,176, 0.75);
    -webkit-box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
    /*background-blend-mode: multiply;*/
    font-size: 30px;
    padding: 20px;
}

.btn-big:hover {
    border: rgb(232,142,94) solid 2px;
    background: rgba(232,142,94, 0.75);
    cursor: pointer;
}


.box {
    border: rgb(232,142,94) solid 2px;
    background: rgba(223,210,176, 0.75);
    -webkit-box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
    /*background-blend-mode: multiply;*/
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;

}

.question-box {
        background: rgba(223,210,176, 0.9);
}

.answer-box {
    background: rgba(223,210,176, 0.9);
}

.score-box {
    border: rgb(232,142,94) solid 2px;
    background: rgba(223,210,176, 0.75);
    font-size: 14px;
    padding-bottom: 20px;
}

.score-box-title {
    margin: 5px 0px;
    font-size: 14px;
    border-bottom: solid 1px rgb(232,142,94);
}

.score-user {
  font-weight: bold;
}

.messages-container {
    border: black solid 2px;
    background: rgba(0, 0, 0, 0.4);
    min-width: 250px;
    min-height: 50px;
  
}

.character-icons {
    border: blue solid 1px;
}

.header-wrapper {
    margin: 0 auto;
}

.game-title {

}

.score-title {
  font-weight: bold;
  text-decoration: underline;
}




/*
 * Answers
 */

.possible-answer,
.incorrect-answer {


}

.possible-answer:hover{
    background-color: #a4ccfd;
    cursor: pointer;
}

.correct-answer {
    font-weight: bold;
    background-color: #cbe6a5;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

li {
    list-style: none;
}


    
/* pale green
#cbe6a5
rgb(203,230,165)*/

/*paleorange: rgb(232,142,94);*/

/*pale blue
rgb(164,204,253)

#a4ccfd
*/














